body{
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;   
  align-items: center;       
  background-color: #f2f2f2; 
  font-weight: bolder;
}

#calc{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
button{
    
  flex: 4;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #0c0c0c;
  cursor: pointer;
  color: #f2f2f2;

}
#row {
    display: flex;
    gap: 15px;
  }

  #equals, #cancel, #del, #perc, #div, #mult, #min, #add{
    color: orange;
  }
  #ans{
    padding-bottom: 5px;
  }